In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
data = pd.read_csv("./Dataset/অ_36606b04_Right Hand_20250423_120617.csv")
data2 = pd.read_csv("./Dataset/অ_36606b04_Right Hand_20250423_120731.csv")

In [31]:
data2.head()

,timestamp,user_id,hand_preference,acc_x,acc_y,acc_z,gyro_x,gyro_y,gyro_z
0,0.001117,36606b04,Right Hand,-0.02,0.11,0.98,-0.12,-0.03,-0.04
1,0.001213,36606b04,Right Hand,-0.02,0.11,0.98,-0.12,-0.03,-0.04
2,0.008915,36606b04,Right Hand,0.00,0.07,1.00,-0.16,-0.04,-0.05
3,0.021871,36606b04,Right Hand,0.00,0.07,1.00,-0.16,-0.04,-0.05
4,0.022024,36606b04,Right Hand,0.00,0.07,1.00,-0.16,-0.04,-0.05

## copying Acc values

In [9]:
acc = data[["acc_x","acc_y","acc_z"]].copy()

In [10]:
acc.head()

   acc_x  acc_y  acc_z
0   0.02  -0.14   0.98
1   0.02  -0.14   0.98
2   0.02  -0.14   0.98
3   0.02  -0.14   0.98
4  -0.01  -0.14   0.95

In [32]:
acc2 = data[["acc_x","acc_y","acc_z"]].copy()

In [33]:
acc2.head()

   acc_x  acc_y  acc_z
0   0.02  -0.14   0.98
1   0.02  -0.14   0.98
2   0.02  -0.14   0.98
3   0.02  -0.14   0.98
4  -0.01  -0.14   0.95

## Reducing Noise
### We'll apply smooting (leaky integrator)
#### formula : smoothed[n] = λ * smoothed[n-1] + (1 - λ) * raw[n]

In [14]:
def leaky_integrator(signal, lambda_=0.9):
    smoothed = [signal[0]]
    for i in range(1, len(signal)):
        smoothed.append(lambda_ * smoothed[i - 1] + (1 - lambda_) * signal[i])
    return smoothed

acc['x_smooth'] = leaky_integrator(acc['acc_x'])
acc['y_smooth'] = leaky_integrator(acc['acc_y'])
acc['z_smooth'] = leaky_integrator(acc['acc_z'])

In [15]:
acc.head()

   acc_x  acc_y  acc_z  x_smooth  y_smooth  z_smooth
0   0.02  -0.14   0.98     0.020     -0.14     0.980
1   0.02  -0.14   0.98     0.020     -0.14     0.980
2   0.02  -0.14   0.98     0.020     -0.14     0.980
3   0.02  -0.14   0.98     0.020     -0.14     0.980
4  -0.01  -0.14   0.95     0.017     -0.14     0.977

In [36]:
def leaky_integrator(signal, lambda_=0.9):
    smoothed = [signal[0]]
    for i in range(1, len(signal)):
        smoothed.append(lambda_ * smoothed[i - 1] + (1 - lambda_) * signal[i])
    return smoothed

acc2['x_smooth'] = leaky_integrator(acc2['acc_x'])
acc2['y_smooth'] = leaky_integrator(acc2['acc_y'])
acc2['z_smooth'] = leaky_integrator(acc2['acc_z'])

In [37]:
acc2.head()

   acc_x  acc_y  acc_z  x_smooth  y_smooth  z_smooth
0   0.02  -0.14   0.98     0.020     -0.14     0.980
1   0.02  -0.14   0.98     0.020     -0.14     0.980
2   0.02  -0.14   0.98     0.020     -0.14     0.980
3   0.02  -0.14   0.98     0.020     -0.14     0.980
4  -0.01  -0.14   0.95     0.017     -0.14     0.977

## Z-score (normalizing)

In [19]:
from scipy.stats import zscore

acc["x_norm"] = zscore(acc["x_smooth"])
acc["y_norm"] = zscore(acc["y_smooth"])
acc["z_norm"] = zscore(acc["z_smooth"])

In [20]:
acc.head()

,acc_x,acc_y,acc_z,x_smooth,y_smooth,z_smooth,x_norm,y_norm,z_norm
0,0.02,-0.14,0.98,0.020,-0.14,0.980,-0.464241,-0.315634,0.056160
1,0.02,-0.14,0.98,0.020,-0.14,0.980,-0.464241,-0.315634,0.056160
2,0.02,-0.14,0.98,0.020,-0.14,0.980,-0.464241,-0.315634,0.056160
3,0.02,-0.14,0.98,0.020,-0.14,0.980,-0.464241,-0.315634,0.056160
4,-0.01,-0.14,0.95,0.017,-0.14,0.977,-0.482818,-0.315634,0.040628

In [38]:
from scipy.stats import zscore

acc2["x_norm"] = zscore(acc2["x_smooth"])
acc2["y_norm"] = zscore(acc2["y_smooth"])
acc2["z_norm"] = zscore(acc2["z_smooth"])

In [39]:
acc2.head()

,acc_x,acc_y,acc_z,x_smooth,y_smooth,z_smooth,x_norm,y_norm,z_norm
0,0.02,-0.14,0.98,0.020,-0.14,0.980,-0.464241,-0.315634,0.056160
1,0.02,-0.14,0.98,0.020,-0.14,0.980,-0.464241,-0.315634,0.056160
2,0.02,-0.14,0.98,0.020,-0.14,0.980,-0.464241,-0.315634,0.056160
3,0.02,-0.14,0.98,0.020,-0.14,0.980,-0.464241,-0.315634,0.056160
4,-0.01,-0.14,0.95,0.017,-0.14,0.977,-0.482818,-0.315634,0.040628

In [28]:
acc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233 entries, 0 to 2232
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   acc_x     2233 non-null   float64
 1   acc_y     2233 non-null   float64
 2   acc_z     2233 non-null   float64
 3   x_smooth  2233 non-null   float64
 4   y_smooth  2233 non-null   float64
 5   z_smooth  2233 non-null   float64
 6   x_norm    2233 non-null   float64
 7   y_norm    2233 non-null   float64
 8   z_norm    2233 non-null   float64
dtypes: float64(9)
memory usage: 157.1 KB

In [29]:
acc[['x_norm', 'y_norm', 'z_norm']].to_csv('অ_preprocessed_1.csv', index=False)

In [40]:
acc2[['x_norm', 'y_norm', 'z_norm']].to_csv('অ_preprocessed_2.csv', index=False)